@model IEnumerable<YMLParser.Models.Provider>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Ajax.BeginForm(new AjaxOptions{UpdateTargetId = "createdlink"})) 
{
    @Html.AntiForgeryToken()
    
    foreach (var provider in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseProviders" aria-expanded="true" aria-controls="collapseProviders" style="text-align: left">
                    @provider.Name
                </a>
            </div>
            <div class="panel-body" style="padding: 0;">
                <div class="in" id="collapseProviders">
                    <div class="table-wrapper">
                        @if (provider.Categories.Count > 0)
                        {
                            foreach (var category in provider.Categories)
                            {
                                <div class="col-md-4 checkbox checkbox-primary">
                                    @Html.CheckBox("selected", true, new { @id = category.Id, @value = category.Name })
                                    @Html.Label("name", category.Name, new { @for = category.Id, @style = "margin-bottom: 0;" })
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-center empty-panel-text">Пусто...</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
}
<div id="createdLink">
    
</div>
<div>
    @Html.ActionLink("К списку ссылок", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
