@using System.Net.Mime
@*@model IEnumerable<YMLParser.Models.Provider>*@
@model YMLParser.Models.UserSelection

@{
    ViewBag.Title = "Создать ссылку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создать ссылку</h2>


@using (Ajax.BeginForm(new AjaxOptions{UpdateTargetId = "createdlink"})) 
{
    @Html.AntiForgeryToken()
    
    foreach (var provider in Model.AddedProviders)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn-block" data-toggle="collapse" href="@("#collapseProviders" + provider.Id)" aria-expanded="true" aria-controls="@("collapseProviders" + provider.Id)" style="text-align: left">
                    @provider.Name
                </a>
            </div>
            <div class="panel-body" style="padding: 0;">
                <div class="in" id="@("collapseProviders" + provider.Id)">
                    <div class="table-wrapper">
                        <div class="btn-group col-md-12">
                            <button type="button" class="btn btn-primary checkall" id="@provider.Id">Выделить все</button>
                            <button type="button" class="btn btn-primary uncheckall" id="@provider.Id">Убрать все</button>
                        </div>
                        @if (provider.Categories.Count > 0)
                        {
                            foreach (var category in provider.Categories)
                            {
                                var checkboxId = provider.Id + "_" + category.Id;
                                var checkboxName = provider.Name + "_" + category.Name;
                                <div class="col-md-4 checkbox checkbox-primary">
                                    <label>
                                        <input type="checkbox" name="selected" value="@checkboxName"> @category.Name
                                    </label>
                                    @*@Html.CheckBox("selected", true, new {@id = checkboxId, @value = checkboxId})
                                    @Html.Label("name", category.Name, new {@for = checkboxId, @style = "margin-bottom: 0;"})*@
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-center empty-panel-text">Пусто...</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    }


        <div class="form-group">
            <div class="col-md-5 input-group">
                @Html.TextBox("Name", "", new {@class = "form-control", @placeholder = "Введите имя ссылки..." })
                @Html.Hidden("Name", "Ссылка " + DateTime.Now.ToString("ddMMyyHHmmss"))
                <span class="input-group-btn">
                    <input type="submit" value="Создать" class="btn btn-default" />
                </span>
            </div>
        </div>
}
<div class="col-md-12" id="createdlink">
    
</div>
<div class="col-md-12">
    @Html.ActionLink("К списку ссылок", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function() {
        $('.checkall').click(function() {
            var providerId = this.id;
            $('#collapseProviders'+providerId).find('input:checkbox').prop('checked', 'checked');
        });
        $('.uncheckall').click(function() {
            var providerId = this.id;
            $('#collapseProviders'+providerId).find('input:checkbox').prop('checked', '');
        });
    })
</script>
