@model YMLParser.Models.OutputLink

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Правка", "Edit", new { id = Model.Id })
</p>*@
