@model YMLParser.Models.FileOutput

@using (Html.BeginForm("DownloadFile", "Home", new { @class = "form-group" }))
{
    @Html.HiddenFor(m => m.FileType);
    @Html.HiddenFor(m => m.FileName);
    @Html.HiddenFor(m => m.FilePath);
    @Html.HiddenFor(m => m.Info);
    <div class="col-md-6">
        @foreach (var category in Model.Categories)
        {
        <div class="col-md-4 checkbox checkbox-primary">
            @Html.CheckBox("selected", true, new { @id = category.Key, @value = category.Value })
            @Html.Label("name", category.Value, new { @for = category.Key, @style = "margin-bottom: 0;" })
        </div>
        }
    </div>
    <input id="download" class="btn btn-primary" type="submit" value="Download" style="margin-top: 10px;" />
}